

body {
    font-family: 'Poppins';
}

header {
    background-size: 100% 100%;
    max-width: 1366px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: white;
}

.nav-item {
    color: white;
}

.active {
    color: #5863F8;
}

.fa-angle-down {
    color: white;
    margin-left: 6px;
}

.header-wraper {
    max-width: 1088px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}    

.navigation {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.burger-bar {
    display: none;
}


/* HEADER PART 2 */

.header-left-side {
    max-width: 1088px;
    width: 90%;
    margin-top: 96px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}

.homecontact {
    max-width: 160px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.divider {
    width: 1px;
    height: 19px;
    background: white;
    margin-right: auto;
    margin-left: auto;
}

.fontsize {
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.heading1 {
    font-size: 42px;
    color: white;
    font-weight: bolder;
    line-height: 42px;
}

p,a,h1,h2 {
    font-family: 'Poppins';
}

/* SECTION 1- MAP */

.map {
    max-width: 1088px;
    width: 90%; 
    margin: 50px auto 56px auto;
}

.mapi {
    max-width: 1088px;
    width: 100%;
}

/* SECTION 2 */

.second-section {

    margin-bottom: 93px;
}

.support {
    max-width: 1088px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
   
.support-heading {
    width: 378px;
}

.section-title {
    font-size: 16px;
    font-weight: bold;
    color: #5863F8;
}

.section-subtitle {
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.fill-info {
    display: flex;
    justify-content: space-between;
    
   }

.description-box {
    max-width: 720px;
    width: 100%;
    height: 288px;
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 16px;
    font-family: 'Poppins';
}

.description-box:focus {
    outline: 2px solid #0897DE;
}

.description-box::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #CECECE;
    
}

.input-boxes {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    width: 100%;
}

.input-form {
    height: 60px;
    margin-bottom: 16px; 
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
    padding-left: 20px;
    font-family: 'Poppins';
}

.input-form:focus {
    outline: 2px solid #0897DE;
}

.input-form::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #CECECE;
}

.button-form {
    height: 60px;
    background-color: #5863F8;
    border: 2px solid #E8E8E8;
    /* padding-top: 20px;
    padding-left: 20px; */
    font-family: 'Poppins';
    color: white;
}

.button-form:hover {
    cursor: pointer;
}

.button-form:focus {
    outline: 2px solid #170FEE;
}

.icons-block {
    margin-top: 50px;
    /* margin-bottom: 90px; */
    height: 160px;
    display: flex;
    justify-content: space-between;
}

.icon-block-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-background {
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    color: white;
}

.contact-info {
    color: #B1B1B1;
    font-size: 14px;
    font-family: 'Poppins';
}

.icon-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
}

/* SECTION 3 */

.third-section-heading-div {
    max-width: 1088px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.heading-photos {
    max-width: 565px;
    width: 100%;
}

.photos-div {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */
.footer {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1026px;
    width: 90%;
    margin: 0 auto;
    padding-top: 90px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    max-width: 645px;
    width: 100%;
    vertical-align:top;
    padding-bottom: 45px;
}

.hotel-description-block {
    max-width: 275px;
    width: 100%;
    color: white;
}

.zetta {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hotel-description {
    font-size: 14px;
    color: #B1B1B1;
    line-height: normal;
}

.social-icon{
    font-size: 35px;
    margin-top: 20px;
}

.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE
}

.fa-google-plus {
    color: #DC4E41;
}

.footer-headings {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.list {
    margin-bottom: 10px;
}

.listfont {
    color: #5863F8;
    font-size: 14px;
}

.footericon {
    color: #5863F8;
    margin-right: 14px;
}

.con-inf {
    color: white;
    font-size: 14px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1026px;
    width: 90%;
    margin: 0 auto;
    padding-top: 54px;
    padding-bottom: 40px;
}

.copyright-text {
    font-family: 'Poppins';
    font-size: 14px;
    color: #B1B1B1;
}

.marian {
    color: #5863F8;
}

.portfolio-link {
    color: #5863F8;
    font-size: 14px;

}

.first-section {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.third-section {
    max-width: 1366px;
    width: 100%;
}

.image {
    max-width: 352px;
    width: 33%;
}